.inline__block_container {
	display: flex;
	align-items: center;
	min-height: 20rem;
	justify-content: space-between;
}

.inline__block-content {
	width: 60%;
	padding: 10px 20px;
}
.inline__block-title {
	font-size: 3rem;
	margin: 4rem auto 3rem !important;
}
.inline__block-image {
	position: relative;
	width: 35%;
	img {
		min-height: 20rem;
		height: 100%;
		object-fit: cover;
	}
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}
